page-familyFriends {


    .titleFriendFam{
      font-size:15px;
      text-align: center;
      color:#488aff;
    }

    .cardFriendFam{
      padding-bottom:2px;
    }

    .relationFriendFam{
      font-size:12px;
    }

    .scroll-content {
      background-color: #ccc;
  }
}
